<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Assets/libraries/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/libraries/jQuery-UI/css/jquery-ui.css" rel="stylesheet" />
    @RenderSection("customStyles", required: false)
    <title>@ViewBag.HeadTitle</title>
</head>
<body>
    <header>
        @Html.Partial("_NavBar");
    </header>

    <main>
        @RenderBody()
    </main>

    @Html.Partial("_Footer");

    <script src="~/Assets/libraries/jQuery/jquery-3.4.1.js"></script>
    <script src="~/Assets/libraries/jQuery-UI/js/jquery-ui.js"></script>
    <script src="~/Assets/libraries/jQuery-UI/js/jquery.ui.autocomplete.scroll.js"></script>
    <script src="~/Assets/libraries/bootstrap/js/bootstrap.js"></script>
    @RenderSection("customScripts", required: false)

</body>
</html>