@model IEnumerable<PersonnelViewModel>
@{
    ViewBag.HeadTitle = "Personnel Phone Book";
}

@section customScripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
}

@section customStyles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.css" />
    <link href="~/Assets/css/styles.css" rel="stylesheet" />
}

<div class="container border border-dark rounded p-3 bg-light mx-auto">
    <h2 class="text-center">@ViewBag.HeadTitle <small>@Model.Count() Entries Available</small></h2>
    <div class="input-group">
        <input type="text" class="form-control" id="searchInput" placeholder="Search in all headers" />
        <div class="input-group-append">
            <button class="btn btn-danger" id="clearbtn" type="button">×</button>
        </div>
    </div>
    <table class="table table-hover table-borderless table-striped text-center" id="dataTable1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Department</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody id="tabledatahere">
            <tr>
                <td colspan="5"></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <table id="dataTable2" class="table table-hover table-borderless table-striped text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Department</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PersonnelViewModel personnel in Model)
            {
                <tr>
                    <td>@personnel.Name</td>
                    <td>@personnel.Surname</td>
                    <td>@personnel.DepartmentRole.DepartmentRoleName</td>
                    <td>@personnel.Department.DepartmentName</td>
                    <td>@personnel.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>
