@model PersonnelViewModel

    <div class="container">
        <h1>Create New Personnel</h1>
        <hr />
        @using (Html.BeginForm("Create", "Personnel", FormMethod.Post))
        {
            <div class="form-group text-">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, additionalViewData: new { htmlAttributes = new { id = "personnelName", placeholder = "Name", @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Surname)
                @Html.EditorFor(model => model.Surname, additionalViewData: new { htmlAttributes = new { id = "personnelSurname", placeholder = "Surname", @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Surname, "", htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId)
                @Html.DropDownListFor(x => x.DepartmentId, ViewBag.DepartmentsSelectList as SelectList, "Select Department", htmlAttributes: new { id = "personnelDepartment", name = "personnelDepartment", required = "required", @class = "custom-select" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentRoleId)
                @Html.DropDownListFor(x => x.DepartmentRoleId, ViewBag.DepartmentRolesSelectList as SelectList, "Select Role", htmlAttributes: new { id = "personnelDepartmentRole", name = "personnelDepartmentRole", required = "required", @class = "custom-select" })
                @Html.ValidationMessageFor(model => model.DepartmentRoleId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Phone)
                @Html.EditorFor(model => model.Phone, additionalViewData: new { htmlAttributes = new { id = "personnelPhone", name = "personnelPhone", placeholder = "Phone", @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Phone, "", htmlAttributes: new { @class = "text-danger" })
            </div>
            @*<div>
                @Html.ValidationSummary("",new { @class = "text-danger"})
            </div>*@
            <div class="form-group">
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>